@import 'libs/palette';

#about {
    min-height: calc(100% - 50px);
    width: 100%;
    margin-top: 64px;
    text-align: center;
    color: _palette(one);

    a {
        text-decoration: none;
        color: _palette(one);
    }
    
    a:visited {
        color: _palette(one);
    }

    @media (hover: hover) {
        a:hover {
            color: _palette(five);
        }
    }

    .wrapper {
        display: inline-block;
        width: 80%;
        max-width: 1100px;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;
        margin: 24px auto;
        background-color: _palette(three);
        border: solid 1px _palette(four);
    
        .intro {
            margin: auto;
            text-align: center;
        
            h2 {
                font-size: 2em;
            }
        
            img {
                margin-top: 0px;
                border-radius: 30px;
                width: 160px;
            }

            p {
                text-align: justify;
            }
        }

        .resume_top {
            line-height: 2em;
            text-align: left;
            border-top: solid 1px _palette(four);
        }

        .resume {
            margin-top: 16px;
            line-height: 2em;
            text-align: left;
            border-top: solid 1px _palette(four);

            .item {
                margin-top: 1.5em;
                line-height: 1em;

                h3 {
                    margin: 0;
                }

                .right {
                    text-align: right;
                    line-height: 1em;
                }

                @media screen and (max-width: 860px) {
                    .right {
                        line-height: 2em;
                    }
                }

                ul {
                    line-height: 1.5em;
                }
            }
        }
    }
}