@import 'libs/palette';

.icons {
    margin-top: 2em;
    margin-bottom: 2em;
    width: calc(min(100%, 504px));
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 504px) {
        flex-direction: column;
        text-align: center;
        height: 147px;
    }

    a {
        text-decoration: none;
        color: _palette(two);
    }
    
    a:visited {
        color: _palette(two);
    }

    a:hover {
        color: _palette(five);
    }

    button {
        color: _palette(two);
        background-color: transparent;
        border: 1px solid _palette(two);
        border-radius: 6px;
        width: 126px;
        height: 42px;
        text-align: center;
        font-size: 1.25em;
    }
    
    button:visited {
        color: _palette(two);
        border: 1px solid _palette(two);
    }

    button:hover {
        color: _palette(five);
        border: 1px solid _palette(five);
    }
}