@import 'libs/palette';

#index {
    min-height: calc(100% - 50px);
    margin-top: 64px;

    a {
        text-decoration: none;
        color: _palette(six);
    }
    
    a:visited {
        color: _palette(six);
    }

    @media (hover: hover) {
        a:hover {
            color: _palette(five);
        }
    }

    .intro {
        margin: auto;
        text-align: center;
        color: _palette(one);
    
        h2 {
            font-size: 2em;
        }
    
        img {
            margin-top: 64px;
            border-radius: 360px;
            width: calc(min(100%, 200px));
        }
    }

    .about {
        width: 50%;
        min-width: calc(min(100%, 320px));
        margin: auto;
        text-align: justify;
        color: _palette(one);
    
        h2 {
            text-align: center;
        }
    }

    animation-duration: 0.6s;
    animation-name: slideright;

    @keyframes slideright {
        from {
            margin-right: 200%;
            width: 0%
        }
    
        to {
            margin-right: 0%;
            width: 100%;
        }
    }
}