@import 'libs/palette';

.header {
    background-color: _palette(two);
    height: 64px; 
    line-height: 64px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    a {
        text-decoration: none;
        color: _palette(three);
    }

    a:visited {
        color: _palette(three);
    }

    @media (hover: hover) {
        a:hover {
            color: _palette(five);
        }
    }
        

    ul {
        margin: 0;
        padding-left: 0;

        li {
            display: inline-block;
            padding-left: 0;
        }
    }

    .index-link {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 0 0 2%;
        margin: 0 0 0 0;
        font-size: 1.25em;
        
        @media (hover: hover) {
            a:hover{
                border-bottom: solid 2px _palette(five);
                transition: all 0.2s ease;
            }
        }
    }

    .links {
        position: fixed;
        top: 0;
        right: 1.5em;
        padding: 0 0 0 1.5em;
        border-left: solid 1px _palette(three);

        ul {
            height: inherit;
            font-size: 1.25em;
            font-weight: bold;
            li {
                border-left: solid 1px _palette(three);
                line-height: 2em;
                margin-left: 1em;
                padding-left: 1em;

                &:first-child {
                    border-left: 0;
                    margin-left: 0;
                    padding-left: 0;
                }

                @media (hover: hover) {
                    a:hover{
                        border-bottom: solid 2px _palette(five);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        right: 0em;
        padding: 0 1% 0 0;
        height: inherit;
        line-height: 72px;
        
        button {
            color: _palette(three);
            background-color: transparent;
            border: 0;
        }

        @media (hover: hover) {
            button:hover {
                color: _palette(five);
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 40%;
        width: 60%;
        border-top: solid 2px _palette(three);
        border-radius: 10px;
        background-color: _palette(two);
        text-align: center;
        opacity: 0.95;

        ul {
            li {
                display: flex;
                flex-direction: column;

                a {
                    width: 100%;
                    height: 3em;
                    line-height: 3em;
                }
            }
        }

        animation-duration: 0.6s;
        animation-name: slideleft;
    }

    .menu-closed {
        display: none;
    }

    @media screen and (max-width: 800px) {
        .links {
            display: none;
        }

        .navbar {
            display: block;
        }
    }

    @media screen and (min-width: 800px) {
        .menu {
            display: none;
        }
    }

    @keyframes slideleft {
        from {
            margin-left: 100%;
            width: 60%
        }
    
        to {
            margin-left: 0%;
            width: 60%;
        }
    }
}